body {
    background-color: #2E2B41;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    height: 50px;
}

.livro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.livro {
    width: 23%;
    background-color: #44435A;
    padding: 20px;
    margin-bottom: 20px;
}

.livro h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.livro h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.avancar {
    text-align: right;
}

button {
    padding: 10px 20px;
    background-color: #6C63FF;
    color: white;
    border: none;
    cursor: pointer;
}