{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinopse</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
</head>
<body>
    <header>
        <div>
            <img src="{% static 'images/Book.png' %}" alt="Logo Mar de Letras">   
            <span>Mar de Letras</span>
        </div>
        <button>Entrar/Cadastrar</button>
    </header>

    <div class="container">
        <div class="book">
            <img src="{% static 'images/livro3.jpg' %}" alt="Livro 3">
        </div>
        <div>
            <h1>O segredo nas sombras - Terror/Suspense</h1>
            <h2>Morgana Moraes</h2>
            <h5>43 páginas</h5>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil tempora ratione, dicta dolorum corrupti aliquid impedit. Illum doloribus, soluta, explicabo commodi debitis tempora dolor saepe molestias vitae voluptate, obcaecati repellendus?</p>
        </div>
            
        </div>
    </div>    
</body>
</html>
