body {
    background-color: #2E2B41;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}
.livro-info {
    background-color: #44435A;
    padding: 20px;
    border-radius: 10px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    font-size: 16px;
    margin-bottom: 15px;
}