body {
    background-color: #2E2B41;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    height: 50px;
}

.livro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.livro {
    width: 23%;
    background-color: #44435A;
    padding: 20px;
    margin-bottom: 20px;
}

.avancar {
    text-align: right;
    align-items: end;
    position: absolute; 
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    background-color: #6C63FF;
    color: white;
    border: none;
    cursor: pointer;
}


.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.container img {
    margin: 5px;
    width: 280px; 
    height: 380px;
}

.book {
    text-align: center;
    margin: 5px;
    width: 280px; 
    height: 380px;
}
