<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Livro</title>
    <link rel="stylesheet" href="book/detail.css">
</head>
<body>
    <div class="livro-info">
        <h2>{{ livro.titulo }}</h2>
        <p>Autor: {{ livro.autor }}</p>
        <p>Gênero: {{ livro.genero }}</p>
        <p>Número de Páginas: {{ livro.numero_paginas }}</p>
        <p>Sinopse: {{ livro.sinopse }}</p>
    </div>
</body>
</html>
