{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
</head>
<body>
    <header>
        <div>
            <img src="{% static 'images/Book.png' %}" alt="Logo Mar de Letras">   
            <span>Mar de Letras</span>
        </div>
        <button>Entrar/Cadastrar</button>
    </header>

    <h1>Livros em destaque</h1>

    <div class="container">
        <div class="book">
            <div class="title">Cruz de carne</div>
            <a href="{% url 'home' %}">
               <img src="{% static 'images/livro1.jpg' %}" alt="Livro 1">
            </a>
            <div class="autor">Valença Leal</div>
        </div>
        <div class="book">
            <div class="title">Memórias de martha</div>
            <a href="{% url 'home' %}">
                <img src="{% static 'images/livro2.jpg' %}" alt="Livro 2">
            </a>
            <div class="autor">Julia Lopeste Almeida</div>
        </div>
        <div class="book">
            <div class="title">O segredo nas sombras</div>
            <a href="{% url 'home' %}">
                <img src="{% static 'images/livro3.jpg' %}" alt="Livro 3">
            </a>
            <div class="autor">Airton Moraes</div>
        </div>
        <div class="book">
            <div class="title">Um belo diploma</div>
            <a href="{% url 'home' %}">
                <img src="{% static 'images/livro4.jpg' %}" alt="Livro 4">
            </a>
            <div class="autor">Scholastique Mukasonga</div>
            
        </div>
    </div>    

    <div class="avancar">
        <button>Avançar <img src="{% static 'images/next.png'%}" alt="Next"></button>
    </div>
</body>
</html>
